#main{
    position: relative;
    .goback{
        position: absolute;
        text-align: center;
        line-height:  1.875rem;
        width: 1.875rem;
        height: 1.875rem;
        left: 5%;
        top: 17%;
        
    }
}