* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width:320px) and (max-width:374px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width:375px) and (max-width:410px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width:411px) and (max-width:767px) {
    html {
        font-size: 21px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    html {
        font-size: 39px;
    }
}

@media only screen and (min-width:1024px) {
    html {
        font-size: 52px;
    }
}

body {
    height: 100vh;
}

#root {
    height: 100%;

    .App {
        font-size: 1.0625rem;
        width: 100vw;;
        position: absolute;
        .footerFiex{
            border-top: 1px solid #ccc;
            position: fixed;
            width: 100vw;
            bottom: 0;
            left: 0;
            background: white;
            height: 3.4375rem;
            ul{
                display: flex;
                li{
                    width:25%;
                    list-style: none;
                    float: left;
                    text-align: center;
                    padding: 0.1875rem 0;
                    a{
                        text-decoration: none;
                        color:black;
                        i{
                            font-size: 1.1875rem;
                        }
                        p{
                            font-size: 0.9375rem;
                        }
                    }
                   
                }
                .selected{
                    color: #ff7919;
            }
            }
        }
    }
}