
#show {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .showSearch {
        margin: 0.625rem;
        line-height: 1.9375rem;
        overflow: hidden;
        >div {
            float: left;
        }
        .city {
            color: #666666;
            float: left;
            width: 3.125rem;
            font-size: 1.0625rem;
            margin-right: 0.625rem;

            span {
                position: relative;

                i {
                    position: absolute;
                    top: 40%;
                    left: 110%;
                    height: 0;
                    border: 0.25rem solid;
                    border-color: black transparent transparent transparent;
                    font-size: 0;
                }
            }
        }

        .searchBar {
            width: 11.25rem;
            float: left;
            font-size: 0.9375rem;
            border-radius: 0.25rem;
            margin-right: 0.9375rem;
            line-height: 1.875rem;
            background: #ebebeb;

            a {
                text-decoration: none;

                span {
                    font-size: 0.875rem;

                    i {
                        font-size: 0.9375rem;
                    }
                }
            }
        }

        .sort {
            font-size: 1.0625rem;
            position: relative;
            color: #666666;

            .sortType {
                position: absolute;
                top: 80%;
                left: -0.9375rem;
                width: 4.375rem;
                font-size: 0.875rem;
                color: #666666;

                span {
                    padding-bottom: 0.3125rem;
                }

                span:nth-child(1) {
                    border-bottom: 1px solid #e6e6e6;
                }

                .selected {
                    color: #ff7919;
                }
            }

            .isapear {
                display: none;
            }
        }
        .navBar{
            display: flex;
            overflow: hidden;
            position: relative;
            height: 40px;
            // overflow-x: scroll;
            width: 1000px;
            ul{
                position: absolute;
                left: -400px;
                li{
                    list-style: none;
                    float: left;
                }
            }
        }
    }
    .LongList {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: scroll;
        height: 1;
        ul{
            li{
                list-style: none;
                overflow: hidden;
                div{
                    float: left;
                }
                a{
                    .img{
                            img{
                                width: 6.25rem;
                                height: 9.375rem;
                            }
                    }
                    .message{
                        width: 12.8125rem;
                        height: 9.375rem;
                        .moveTitle{
                            color: black;
                            font-weight: 600;
                        }
                        .show_time,.address{
                            font-size: 0.875rem;
                        }
                        .price{
                            color:#ff7919;
                        }
                    }     
                }
                
            }
        }
        .LoadingMore{
            height: 6.25rem ;
            p{
                height: 6.25rem;
                text-align: center;
            }
        }
    }
    
   
}
